@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;200;500;900&display=swap");
body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
body h1, body h2, body h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
}
body p, body a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
body header, body section {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav a:hover {
  color: #e6b938;
}
header .active {
  color: #e6b938;
}
header #menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

section .vertical-line {
  width: 2px;
  height: 20vw;
  background: black;
}
section .circle {
  margin: 3% 0;
  width: 62vmin;
  height: 62vmin;
  border-radius: 50%;
  background-color: #e6b938;
  display: flex;
  transition: border-radius 0.3s ease;
}
section .circle:hover {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
section h1 {
  font-size: clamp(20px, 6vw, 3rem);
  margin-left: -30px;
}
section .hero-subheading {
  width: 15rem;
  z-index: 999;
}
section .social-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
section .social-icons a {
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 100px;
  padding: 5px;
  margin: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 999;
}
section .social-icons a:hover {
  background-color: #e6b938;
  border: 2px solid #e6b938;
}

.slider-icons {
  display: flex;
  flex-wrap: nowrap;
  z-index: 999;
}
.slider-icons a {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 100px;
  padding: 5px;
  margin: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 999;
}
.slider-icons a:hover {
  background-color: #e6b938;
  border: 2px solid #e6b938;
}

.subject {
  width: 100%;
}
.subject img {
  height: auto;
  width: clamp(24rem, 75vw, 735px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bars {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.bars .bar {
  height: 100px;
}
.bars div.bar:first-child {
  background-color: #e6b938;
}
.bars div.bar:nth-child(2) {
  background-color: black;
}
.bars div.bar:nth-child(3) {
  background-color: grey;
}

.gallery {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 80px 0;
}
.gallery img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.9s ease;
}
.gallery img:hover {
  filter: none;
}

@media (max-width: 768px) {
  .hero-img {
    height: clamp(10rem, 400px, 47rem);
    width: clamp(10rem, 400px, 47rem);
  }
  nav {
    display: none;
  }
  #menu-toggle {
    display: block !important;
  }
  .vertical-line {
    height: 12vw;
  }
}
@media (max-width: 480px) {
  .vertical-line {
    background: white !important;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}/*# sourceMappingURL=style.css.map */