/* FONTS --importing */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;200;500;900&display=swap');

/* COLORS --variable declaration */
:root {
    --accent-color: #e6b938;
    --primary-color: black;
    --secondary-color: grey;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

h1,
h2,
h3 {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

p,
a {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

header,
section {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.vertical-line {
    width: 2px;
    height: 20vw;
    background: var(--primary-color);
}

.circle {
    margin: 3% 0;
    width: 62vmin;
    height: 62vmin;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    transition: border-radius 0.3s ease;
}

.circle:hover {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% 
}

.circle h1 {
    font-size: clamp(20px, 6vw, 3rem);
    margin-left: -30px;
}

.hero-subheading {
    width: 15rem;
    z-index: 999;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 999;
}

.social-icons a {
    color: white;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 100px;
    padding: 5px;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.slider-icons {
    display: flex;
    flex-wrap: nowrap;
    z-index: 999;
}

.slider-icons a {
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    padding: 5px;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.slider-icons a:hover, .social-icons a:hover {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.subject {
    width: 100%;
}

.subject img {
    height: auto;
    width: clamp(24rem, 75vw, 735px);
    position: absolute;
    left: calc(100% / 2);
    transform: translate(-50%, -50%);
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.bars {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.bar {
    height: 100px;
}

div.bar:first-child {
    background-color: var(--accent-color);
}

div.bar:nth-child(2) {
    background-color: var(--primary-color);
}

div.bar:nth-child(3) {
    background-color: var(--secondary-color);
}

.gallery {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 80px 0;
}

.gallery img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.9s ease;
}

.gallery img:hover {
    filter: none;
}

@media (width <= 768px) {
    .hero-img {
        height: clamp(10rem, 400px, 47rem);
        width: clamp(10rem, 400px, 47rem);
    }

    nav {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    .vertical-line {
        height: 12vw;
    }
}

@media (width <= 480px) {
    .vertical-line {
        background: white;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    } 
}